[Desktop Entry]
Version=1.0.4
Name=BitcoinZ Wallet
Comment=BZEdge Desktop GUI Wallet (full node)
GenericName=BZEdge Wallet
Keywords=BZEdge;Crypto-currency;BZE;
Exec=bzedge-wallet
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/lib/bzedge-wallet/BitcoinZ.png
Categories=GNOME;Application;
StartupNotify=true
